body {
  margin: 0px;
}
.main {
  background-color: #EEEEEE;
}
.empty {
  background-color: #ff0000;
  opacity: 0;
}
.guide {
  border: 0px solid #ff00aa;
}
.block {
  cursor: default;
  height: 55px;
  width: 55px;
  margin-top: 10px;
  text-align: center;
  padding: 2px;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
.number {
  font-size: 8px;
}
.simbol {
  font-weight: bold;
  color: #1800f0;
}
.mass {
  font-size: 10px;
}
#number_section {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100px;
}
#blue_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#red_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}
#yellow_section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  position: relative;
  right: 20px;
}
#green_section {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 10px;
  width: 700px;
}
.red_block {
  background-color: #FD9A98;
}
.blue_block {
  background-color: #689BFF;
}
.yellow_block {
  background-color: #FECB00;
}
.green_block {
  background-color: #1FCA21;
}
.rule_block {
  background-color: blanchedalmond ;
  text-align: center;
  color: red;
}
.large_rule_block {
  height: 55px;
  background-color: blanchedalmond ;
  margin-top: 10px;
  color: red;
  display: flex;
  justify-content: center;
  text-align: center;
}
.block:hover {
  box-shadow: 0px 0px 3px 0px #888888;
  border-radius: 100%;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
